@charset "UTF8";

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e; 

    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Work Sans', sans-serif;
     }
    * {
     margin: 0px;
     padding: 0px;
}

body {
    background-color: #c5ebd6;
    font-family: var(--fonte-padrão);
}

header {
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor4));
    background-color: var(--cor4);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 2px 0px rgb(0, 0, 0.267);
}

header > p {
    font-family: var(--fonte-padrão);
    font-size: 1.2em;
    color: white;
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 2px 0px rgb(0, 0, 0.315);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box 
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
}

main h1 {
    color: #1a5c37;
    font-family: var(--fonte-padrão;)
}
main h2 {
    font-family: var(--fonte-padrão);
}

main img {
    width: 100%;
}
main img.pequena {
    width: 50%;
    display: block;
    margin: auto;
}

div.video {
    background-color: #063d1e;
    margin-bottom: 30px;
    margin: 0px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;

}

aside > ul {
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2 ;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-decoration: center;
    font-size: 0.8em;
    padding: 5px;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}